<div>
    <div class="center">
        <h1>Coupon Details</h1>
        <form>
            <mat-form-field style="width: 100%">
                <mat-label>Coupon Name</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field style="width: 100%">
                <mat-label>Coupon Code</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field style="width: 100%">
                <mat-label>Discount</mat-label>
                <input matInput>
            </mat-form-field>
            <div>
                <button mat-raised-button color="accent">Add Coupon</button>
            </div>
          </form>
    </div>
</div>