<div class="container">
    <div class="box">
        <mat-card>
            <mat-card-title>Product Name</mat-card-title>
            <mat-card-subtitle>2000 Rs.</mat-card-subtitle>
            <mat-card-content>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio eos tempora accusantium dolorem quasi dolor iure reiciendis aliquid, porro soluta?</mat-card-content>
        </mat-card>
    </div>
    <div class="box">
        <mat-card>
            <mat-card-title>Product Name</mat-card-title>
            <mat-card-subtitle>2000 Rs.</mat-card-subtitle>
            <mat-card-content>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio eos tempora accusantium dolorem quasi dolor iure reiciendis aliquid, porro soluta?</mat-card-content>
        </mat-card>
    </div>
    <div class="box">
        <mat-card>
            <mat-card-title>Product Name</mat-card-title>
            <mat-card-subtitle>2000 Rs.</mat-card-subtitle>
            <mat-card-content>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio eos tempora accusantium dolorem quasi dolor iure reiciendis aliquid, porro soluta?</mat-card-content>
        </mat-card>
    </div>
</div>